.Header {
    background-color: black;
    padding: 10px;
    margin: 0;
}

.Header img {
    width: 450px;
    margin: 10px;
}



@media screen and (max-width: 700px) {
    .Header img {
        width: 250px;
        margin: 10px;
    }
}