:root {
  --first-color: 	#3c2411;
  --second-color: #4f3928;
  --third-color: #8a7b70;
  --fourth-color: #c4bdb7;
  --fifth-color: #ebe9e7;
  --font: 'Sun Brush', cursive;
}

.App {
  text-align: center;
}

h1 {
  color: var(--fifth-color);
}