body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
}

@font-face {
  font-family: 'Sun Brush';
  src: local('Sun Brush'),url(./Fonts/Sun\ Brush.ttf) format('truetype');
}


@font-face {
  font-family: 'Northwell';
  src: local('Northwell'),url(./Fonts/Northwell.ttf) format('truetype');
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
